---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// overrides

.svg-icon {
    padding-right: 0px;
}

.card {
    border: 0;
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
    height: 100%;
}

.md h1::before { content: "# "; }
.md h2::before { content: "## "; }
.md h3::before { content: "### "; }
.md h4::before { content: "#### "; }
.md h5::before { content: "##### "; }
.md h6::before { content: "###### "; }
.md strike::after, 
.md strike::before { content: "~~"; }
.md i::before, 
.md i::after, 
.md em::before, 
.md em::after { content: "_"; }
.md b::before, 
.md b::after, 
.md strong::before, 
.md strong::after { content: "*"; }
.md ol, 
.md ul { list-style: none; padding-left: 0; }
.md ul li::before { content: "* "; }
.md ol { counter-reset: numberlist;  }
.md ol li { counter-increment: numberlist; }
.md ol li::before { content: counter(numberlist) ". "; }
.md a::before { content: "["; }
.md a::after { content: "]"; }