---
layout: default
---
<!---
{% assign tags =  site.snippets | map: 'tags' | join: ','  | split: ',' | uniq %}
<h2>Code Snippets</h2>
{% for tag in tags %}
  <h3>{{ tag }}</h3>
  <ul>
  {% for snippet in site.snippets %}
    {% if snippet.tags contains tag %}
    <li><a href="{{ site.baseurl }}{{ snippet.url }}">{{ snippet.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
-->

<div class="columns">
  <div class="column col-6 col-xs-12"> 
      <div class="card">
        <!-- https://picturepan2.github.io/spectre/components/cards.html -->
        <a href="./articles/">
          <div class="card-header">
            <div class="card-title h5">Articles</div>
          </div>
        </a>
      </div>
  </div>

  <div class="column col-6 col-xs-12">
  <div class="card">
      <a href="./snippets/">
        <div class="card-header">
          <div class="card-title h5">Code Snippets</div>
        </div>
      </a>
    </div>
  </div>
</div>