name: jekyll-cd

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout master
        uses: actions/checkout@v4

      - name: setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: jekyll build
        run: JEKYLL_ENV=production bundle exec jekyll build --destination _site

      - name: Commit build to source repo
        run: |
          cd _site && \
          git config user.name "${GITHUB_ACTOR}" && \
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com" && \
          git add . && \
          git commit -m "jekyll build from Action ${GITHUB_SHA}" && \
          git push

      - name: Deploy to dannypage.github.io
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: '_site'
          target-directory: 'views'
          destination-github-username: 'dannypage'
          destination-repository-name: 'dannypage.github.io'
          user-email: dannypage@users.noreply.github.com
          target-branch: master
